<body id="profileBody">
    <header>
        <div class="container">
            <h4 class="link-left"><a href="/">Dashboard</a></h4>
            <h4 class="link-right"><a href="#">Profile</a></h4>
            <h1 class="pageTitle">Profile</h1>
        </div>
    </header>
    <form>
        <section id="profileInfo">
            <div class="container">
                <div class="row">
                    <div class="col m2">
                    </div>
                    <div class="col m8">
                        <div class="row">
                            <h4>Profile Info</h4>
                        </div>
                        <div class="card-panel profile-card">

                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="preferredName" type="text" class="validate"
                                        placeholder={{preferredName}}>
                                    <label for="preferredName">Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email" type="email" class="validate" placeholder={{email}}>
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="phone" type="text" class="validate" placeholder={{phone}}>
                                    <label for="phone">Phone Number (optional)</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password" type="password" class="validate" placeholder={{password}}>
                                    <label for="password">Password</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col m2"></div>
                </div>
            </div>
        </section>
        <section id="profileIncome">
            <div class="container">
                <div class="row">
                    <div class="col m2"></div>
                    <div class="col m8">
                        <div class="row">
                            <h4>Income and Spend Categories</h4>
                        </div>
                        <div class="card-panel income-card">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="income" type="text" class="validate" placeholder={{monthlyIncome}}>
                                    <label for="income">Monthly Income</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="cat0name" type="text" class="validate" placeholder={{cat0name}}>
                                    <label for="cat0name">Add Category</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="cat1name" type="text" class="validate" placeholder={{cat1name}}>
                                    <label for="cat1name">Add Category</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="cat2name" type="text" class="validate" placeholder={{cat2name}}>
                                    <label for="cat2name">Add Category</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="cat3name" type="text" class="validate" placeholder={{cat3name}}>
                                    <label for="cat3name">Add Category</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="cat4name" type="text" class="validate" placeholder={{cat4name}}>
                                    <label for="cat4name">Add Category</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="cat5name" type="text" class="validate" placeholder={{cat5name}}>
                                    <label for="cat5name">Add Category</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="cat6name" type="text" class="validate" placeholder={{cat6name}}>
                                    <label for="cat6name">Add Category</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="cat7name" type="text" class="validate" placeholder={{cat7name}}>
                                    <label for="cat7name">Add Category</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="cat8name" type="text" class="validate" placeholder={{cat8name}}>
                                    <label for="cat8name">Add Category</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="cat9name" type="text" class="validate" placeholder={{cat9name}}>
                                    <label for="cat9name">Add Category</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col m2"></div>
            </div>
            </div>
        </section>
        <section id="bottom-buttons"><br>
            <div class="row">
                <div class="col m5"></div>
                <div class="col m2">
                    <button id="profileEdit" class="bigButton">SUBMIT EDIT</button>
                </div>
                <div class="col m5"></div>
            </div>
        </section>
        <section id="bottom-buttons">
            <div class="row">
                <div class="col m5"></div>
                <div class="col m2">
                    <button id="profileDelete" class="bigButton">DEACTIVATE PROFILE</button>
                </div>
                <div class="col m5"></div>
            </div>
        </section>
    </form>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="/assets/js/profile.js"></script>
</body>